<div id="interest">
  <header>
    <h1><%= @ride.destination %></h1>
  </header>
  <header>
    <h2><%= @interest.name %></h2>

    <ul class="actions">
      <% if policy(@interest).update? %>
      <li><%= link_to "Edit Interest", [:edit, @ride, @interest],
                      class: "edit" %></li>
          <% end %>
      <% if policy(@interest).destroy? %>
        <li><%= link_to "Delete Interest", [@ride, @interest], method: :delete,
                        data: { confirm: "Are you sure you want to delete this interest?"},
                        class: "delete" %></li>
          <% end %>
    </ul>
  </header>
  <table id="attributes">
    <tr>
      <th>Author:</th>
      <td><%= @interest.author.email %></td>
    </tr>
    <tr>
      <th>Created:</th>
      <td><%= time_ago_in_words(@interest.created_at) %> ago</td>
    </tr>
  </table>
</div>